//site color variables
$body-color: #FFF;
$bg-color: rgba(255, 196, 42, 0.7);
$primary-color: #1c5739;
$secondary-color: #FFC42A;
$text-color: #8C8C94;
$text-color-dark: #273437;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #EDEDF4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins',sans-serif;