<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>


  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Themify -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "themify/themify.css" | absURL }}">

  {{ "<!-- Critical CSS -->" | safeHTML }}
  {{ $stylex := resources.Get "scss/critical.scss" | resources.ToCSS | minify }}
  <link href="{{ $stylex.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicons/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicons/favicon.ico" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  <!-- MailerLite Universal -->
  <script>
      (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
      .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
      n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
      (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
      ml('account', '744012');
  </script>
  <!-- End MailerLite Universal -->
	{{ end }}
</head>
