{{ define "main" }} {{ "<!--contactHeader.html-->" | safeHTML }}
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>{{ .Title }}</h2>
        <p>
          Ili nam pošaljite poruku direktno na
          <a href="mailto:{{ .Site.Params.email }}">e-poštu</a>
        </p>
      </div>
    </div>
  </div>
</section>

{{ "<!--contactForm.html-->" | safeHTML }}
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form
          id="contact-form"
          method="POST"
          class="contact-form row"
          name="contact-form"
          data-netlify="true"
          >
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control"
              placeholder="Ime ili naziv kompanije"
              name="name"
              required
            />
          </div>
          <div class="col-lg-6">
            <input
              type="email"
              class="form-control"
              placeholder="Adresa e-pošte"
              name="email"
              required
            />
          </div>
          <div class="col-12">
            <input
              type="text"
              class="form-control"
              placeholder="Predmet"
              name="subject"
            />
          </div>
          <div class="col-12">
            <textarea
              class="form-control"
              placeholder="Poruka"
              required
              cols="30"
              rows="7"
              name="message"
            ></textarea>
          </div>
          <div class="col-6 align-self-center">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="termCondition"
                name="terms"
                required
                title="Prihvatite uslove korišćenja za nastavak"
              />
              <label class="form-check-label" for="termCondition">
                Prihvatam <a href="#">uslove korišćenja</a>
              </label>
            </div>
          </div>
          <div class="col-6 text-right">
            <button
              id="contact-form-button"
              class="btn btn-primary-filled"
              type="submit"
              title="Kontaktirajte nas!"
            >
              Pošalji
            </button>
          </div>
          <div class="col-12">
            <p id="contact-form-status" class="mt-3"></p>
          </div>
          <input type="hidden" name="form-name" value="contact-form">
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}
